<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="MyFile" fileName="logs/dynamic_url.log" filePattern="logs/dynamic_url.log.%d{dd-MM-yyyy}.log">
            <PatternLayout pattern="%d %-5level[thread:%t] %logger{0} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
        <Console name="Console">
            <PatternLayout pattern="%d %-5level[thread:%t] %logger{0} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="MyFile"/>
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="com.spt.urls" level="DEBUG" additivity="false">
            <AppenderRef ref="MyFile"/>
<!--            <AppenderRef ref="Console"/>-->
        </logger>



<!--        <logger name="com.zaxxer.hikari" level="DEBUG" additivity="false">-->
<!--            <AppenderRef ref="MyFile"/>-->
<!--            <AppenderRef ref="Console"/>-->
<!--        </logger>-->
    </Loggers>
</Configuration>